*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-size: cover;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav{
  max-width: 1100px;
  margin: auto;
  background-color: #333;
  font-size: 20px;
  margin-top: 60px;
  height: 60px;

}

.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-horizontal > li > a{
  display: block;
  padding: 20px 35px;
  color: white;
  text-decoration: none;
}

.menu-horizontal > li:hover{
  background-color: lightcoral;
  height: 60px;

}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 250px;
  margin: auto;
  background-color: rgb(197, 81, 212);
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
}

.menu-vertical li:hover{
  margin-bottom: 20px;
  background-color: black;
}

.menu-vertical li a{
  display: block;
  color: dimgrey;
  padding: 20px 20px 15px 15px;
  text-decoration: none;
}

h1{
  text-align: center;
}

.carrito{
  position:sticky;
  width: 48px;
  height: 50px;
  
}


.menu-horizontal > .carrito:hover{
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-around;
}

.parrafo{
  color: white;
  background-color: gray;
  padding: 5px;
}
.athena{
  position:sticky;
  width: 48px;
  height: 50px;
}
.carrito{
  display:flex;
  align-items: center;
}