*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-size: cover;
}
nav{
  max-width: 900px;
  margin: auto;
  background-color: #333;
  font-size: 20px;
  margin-top: 60px;

}

.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-horizontal > li > a{
  display: block;
  padding: 20px 35px;
  color: white;
  text-decoration: none;
}

.menu-horizontal > li:hover{
  background-color: lightcoral;
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 250px;
  background-color: rgb(197, 81, 212);
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
}

.menu-vertical li:hover{
  background-color: black;
}

.menu-vertical li a{
  display: block;
  color: dimgrey;
  padding: 20px 20px 15px 15px;
  text-decoration: none;
}

h2{
  text-align: center;
}
